body{
    background-image: url('../Images/app-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

  
  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #name{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 15rem;
    color: white;
    font-size: 1.2rem;
  }

  #name::placeholder{
    color: rgba(255, 255, 255, 0.589);
  }

  #name:focus{
    outline: none;
  }

  #img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .image{
    width: 200px;
    height: 180px;
    border: 2px solid white;
    box-sizing: border-box;
  }

  .image:hover{
    border: 2px solid rgb(238, 107, 220);
    cursor: pointer;
  }

  .selected{
    border: 2px solid rgb(238, 107, 220);
  }

  #con{
    display: flex;
    justify-content: center;
  }


  #start-button{
    width: 10rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    background-color: rgb(238, 107, 220);
    transition: 0.4s ease-in;
  }

  #start-button:hover{
    background-color: rgb(245, 220, 241);
    color:rgb(238, 107, 220);
    cursor: pointer;
  }

 

