body{
    background-image: url('../Images/app-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#title h1, #title h2{
    font-family: monospace;
    font-size: 3rem;
    letter-spacing: 0.8rem;
    color: white;
}

#title h2{
    position: absolute;
    color: black;
    top: -0.2rem;
}

#button{
    width: 10rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: rgb(238, 107, 220);
    transition: 0.4s ease-in;
}

#button:hover{
    background-color: rgb(245, 220, 241);
    color:rgb(238, 107, 220);
}