body{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro{
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    color: white;
    background-color: lightcoral;
}

#cat{
    position: absolute;
    bottom: 0.2rem;
    height: 17rem;
}

.button{
    width: 7rem;
    height: 3.5rem;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    transition: 0.1s ease-in;
    letter-spacing: 0.3rem;
}

.button:hover{
    width: 6.8rem;
    height: 3.3rem;
    cursor: pointer;
}

.outlined-text {
    color: black;
    text-shadow:
      -1px -1px 0 white,
       1px -1px 0 white,
      -1px  1px 0 white,
       1px  1px 0 white;
  }

#eat-button{
    position: absolute;
    bottom: 1rem;
    background-image: url('../Images/eat.jpg');
}

#eat-container{
    display: flex;
    justify-content: space-evenly;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#eat-container.show {
    transform: translateX(0);
    opacity: 1;
  }

#eat-container.hide{
    transform: translateX(-100%);
    opacity: 0;
}

#pizza-button{
    background-image: url('../Images/pizza.jpg');
}

#shake-button{
    background-image: url('../Images/shake.jpg');
}

#sushi-button{
    background-image: url('../Images/sushi.jpg');
}

#paint-button{
    background-image: url('../Images/paint.jpg');
    position: absolute;
    bottom: 5rem;
}

#color-palette {
    margin-bottom: 10px;
}

.color-btn {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
}

#paint-tools button {
    margin-right: 8px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: palevioletred;
}

#paint-area{
    position: absolute;
    top: 7.5rem;
    width: 33rem;
    margin-left: 0.5rem;
}

#drawing-canvas{
    width:100%;
    height:250px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 9999;
    width: 100%;
    height: 200px;
    image-rendering: pixelated;
}


#start-sounds img{
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 10rem;
}

#hats-button{
    background-image: url('../Images/hats.jpg');
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}


